<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation History</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/history.css">
</head>

<div class="container" style="max-width: 500px;"> <h2>Riwayat Reservasi</h2>

    <div class="reservation-list" th:each="r : ${history}">
        
        <div class="reservation-card">
            <table class="table-custom">
                <tr>
                    <td class="label">Nama</td>
                    <td th:text="${r.getPersonName()}"></td>
                </tr>
                <tr>
                    <td class="label">Tanggal</td>
                    <td th:text="${r.tanggal}"></td>
                </tr>
                <tr>
                    <td class="label">Jam</td>
                    <td th:text="${r.jam}"></td>
                </tr>
                <tr>
                    <td class="label">Jumlah Orang</td>
                    <td th:text="${r.jumlah}"></td>
                </tr>
            </table>
        </div>
    </div>
    
    <a class="btn-dark mt-4" th:href="@{/profile}">Kembali</a>
    <a class="btn-dark mt-4" th:href="@{/transaction}">Lanjutkan</a>
</div>
</body>
</html>
