<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Reservasi</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/menureservasi.css}" />
  </head>
  <body>
    <div class="menu-container">
      <div class="menureservasi">
        <h3>Sudah pernah melakukan reservasi?</h3>
        <a th:href="@{/profile}">Ya</a>
        <a th:href="@{/reservation}">Tidak</a>
      </div>
    </div>
  </body>
</html>
