<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu Staff</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/menustaff.css">

</head>

<body>

    <div class="menu-container">
        <div class="menu-title">Staff Menu</div>

        <a href="/customer" class="btn btn-primary menu-btn">
            Kelola Customer
        </a>

        <a href="/staff" class="btn btn-secondary menu-btn">
            Kelola Staff
        </a>

        <a href="/menu" class="btn btn-secondary menu-btn">
            Kelola Menu
        </a>

        <a href="/kelolatransaction" class="btn btn-secondary menu-btn">
            Kelola Transaksi
        </a>

        <a href="/staff/logout" class="btn btn-danger menu-btn">
            Logout
        </a>
    </div>

</body>

</html>